html {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 30% 70%;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: 70px 70px 70px 70px 70px 70px 70px;
  row-gap: 25px;
  justify-content: center;
  padding-top: 19px;
}

.grid div {
  margin: auto;
  align-items: center;
}

.grid div img {
  padding: 0 3px;
}

.modelImage {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  margin-right: 5px;
  transform: translate(-50%, 0);
  z-index: -1;
}

.modelHolder {
  position: relative;
  max-height: 95vh;
  overflow-y: scroll;
}

#modelHolderSmall {
  width: 415px;
  margin: auto;
}

.controls {
  display: flex;
  flex-direction: column;
  height: 95vh;
  overflow-y: scroll;
}

.controls div:nth-child(even){background-color: #f2f2f2;}

.controls div input {
  float: right;
}

.controls div:hover {
  background-color: #ddd;
}

.table {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#table {
  border-collapse: collapse;
  width: 90%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4766ee;
  color: white;
}

button {
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
}

.buttons {
  height: 3vh;
}